@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 16px;
}
body {
    font-family: 'bebas_neueregular', 'Lato', sans-serif;
    margin: 0;
}
section {
    min-height: 100vh;
    position: relative;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
h1 {
    font-size: 4.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 > span {
    font-size: 5.3rem;
}
.orange-text {
    color: #fe7d00;
}
.orange-background {
    background-color: #ff7f00;
}
.button {
    font-size: 1.75rem;
    text-align: center;
    letter-spacing: 5px;
    padding: 20px 140px;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 220px;
    text-decoration: none;
}
.button:hover {
    text-shadow: 1px 1px 1px #655e5e;
}
.button > span {
    display: block;
    font-size: 3.5rem;
}
.background {
    background-size: cover;
    background-attachment: scroll;
    background-image: url(../img/intro.png);
}
.skew::before {
    content: '';
    width: 100%;
    height: 105%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
       -moz-transform-origin: right;
            transform-origin: right;
    -webkit-transform: skewY(6deg);
        -ms-transform: skewY(6deg);
       -moz-transform: skewY(6deg);
            transform: skewY(6deg);
}
.phone {
    width: 50vw;
}
.steps {
    width: 50vw;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 50px;
    position: relative;
}
.phone > img {
    position: absolute;
    top: 0;
}
.number {
    position: relative;
    font-size: 2.8rem;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
       -moz-justify-content: center;
            justify-content: center;
}
.black .number {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 1px #000000;
}
.white .number {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0 0 0 1px #ffffff;
}
.description {
    font-size: 3.75rem;
    text-transform: uppercase;
}
.black .description {
    color: #000000;
}
.white .description {
    color: #ffffff;
}

/* INTRO */
#intro {
    min-height: 100vh;
    z-index: 0;
}
#intro.background {
    background-attachment: fixed;
}
#intro .container {
    padding-bottom: 200px;
}
#intro .text {
    width: 35vw;
}
.icon {
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon > a {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 65px;
    background-color: #000;
    border-radius: 10px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.appstore {
    background-image: url('../img/app_store.png');
}
.googleplay {
    background-image: url('../img/google_play.png');
}
.windowsstore {
    background-image: url('../img/windows_store.png');
}
#intro .phone > img {
    right: 20vw;
    height: 80vw;
    top: auto;
}

/* UPDATE */
#update {
    min-height: 60vh;
    padding-bottom: 50px;
    z-index: 1;
}
#update .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 200px;
}
#update p {
    color: #ffffff;
    font-size: 4.5rem;
    margin: 0;
    margin-bottom: 50px;
}
#update p > span {
    background: #fdaa56;
}

/* FIRST */
#first {
    z-index: 2;
}
#first .container {
    padding-top: 110px;
    padding-bottom: 150px;
}
#first .phone > img {
    top: -25vh;
    width: 35vw;
}

/* SECOND */
#second {
    background-image: url('../img/background-shoes.jpg');
    z-index: 3;
}
#second .container {
    margin-bottom: 0;
}
@-webkit-keyframes zoom {
    0% {-webkit-transform: scale(1);transform: scale(1);}
    50% {-webkit-transform: scale(1.2);transform: scale(1.2);}
    100% {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes zoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
#second .phone > img {
    width: 35vw;
    z-index: 2;
    -webkit-animation: zoom 3s infinite;
            animation: zoom 3s infinite;
}

/* THIRD */
#third {
    z-index: 4;
    min-height: 220vh;
}
#third .steps {
    width: 100vw;
}
#third .description {
    margin-bottom: 0;
}
#third img {
    width: 100%;
    position: absolute;
}

/* FOURTH */
#fourth {
    z-index: 5;
}
#fourth.skew::before {
    height: 130%;
    -webkit-transform-origin: left;
            transform-origin: left;
}
#fourth .container {
    padding-bottom: 100px;
}
#fourth .phone > img {
    width: 29vw;
    right: 15vw;
    z-index: 1;
    position: absolute;
}

/* SHOPPING */
#shopping {
    min-height: 60vh;
    z-index: 4;
}
#shopping .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 150px;
    padding-bottom: 50px;
}
#shopping h2 {
    color: #ffffff;
    text-align: center;
    font-size: 6.25rem;
    letter-spacing: 8px;
    margin: 35px;
}

/* SCROLL */
@-webkit-keyframes scroll {
    0%   { background-position: center; }
    33%  { background-position: top; }
    66%  { background-position: bottom; }
    100% { background-position: center; }
}
@keyframes scroll {
    0%   { background-position: center; }
    33%  { background-position: top; }
    66%  { background-position: bottom; }
    100% { background-position: center; }
}
.scroll {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    background-image: url(../img/scroll.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2f2f2f;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.scroll:hover {
    width: 110px;
    height: 110px;
    bottom: 15px;
    right: 15px;
    transition: ease-in-out 0.3s;
    -webkit-animation: scroll 1s;
            animation: scroll 1s;
}

/* RWD */
@media (max-width: 1024px) {
    html {
        font-size: 9px;
    }
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
    #intro {
        min-height: 80vh;
    }
    #intro .text {
        width: 50vw;
    }
    #intro .phone > img {
        right: 10vw;
    }
    .icon > a {
        width: 160px;
        height: 45px;
    }
    .button {
        padding: 10px 60px;
        width: 160px;
    }
    #update .container {
        padding-bottom: 50px;
    }
    #first {
        min-height: auto;
    }
    #first .container {
        padding-bottom: 25px;
    }
    #first .phone > img {
        position: relative;
    }
    #second {
        min-height: auto;
    }
    #second .container {
        padding-bottom: 150px;
        margin-bottom: -25px;
    }
    #second .phone > img {
        top: auto;
        bottom: 0;
    }
    #third {
        min-height: 100vh;
    }
    #fourth {
        min-height: auto;
    }
    .scroll {
        display: none;
    }
}
@media (max-width: 440px) {
    html {
        font-size: 7px;
    }
    #first .container {
        padding-bottom: 75px;
        padding-top: 5px;
    }
    #fourth .container {
        padding-bottom: 0;
    }
}